@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

/*
- White: hsl(0, 0%, 100%)
- Light gray: hsl(212, 45%, 89%)
- Grayish blue: hsl(220, 15%, 55%)
- Dark blue: hsl(218, 44%, 22%)
*/

*{
    padding: 0;
    margin: 0;
    font-family: 'Outfit', sans-serif;
}

body{
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

#container{
    height: 100vh;
    max-width: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

#geral{
    max-width: 350px; 
    background-color: white;
    border-radius: 10px;
    text-align: center;
    border-radius: 16px;
    padding: 1em;
    margin: 0 0.3rem;
}

#qrcode{
    width: 100%;
    border-radius: 10px;
}

#texto{
    padding: 0 20px 0 20px;
    text-align: justify;
}

h1{
    color: hsl(218, 44%, 22%);
    font-size: 1.5em;
    text-align: center;
    font-weight: 700;
    margin: 13px;
}

p{
    font-size: 1em;
    text-align: center;
    color: hsl(220, 15%, 55%);
    padding: 15px;
    font-weight: 400;
    padding-bottom: 0.8em;
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media screen and (min-width: 320px and max-width: 700px){
    #geral{
        max-width: 200px;
        margin: 0 10px 0 10px;
    }
}